
/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "EB Garamond", serif;
  background-color: var(--background-color);
  overflow-x: hidden;
  padding-bottom: 3rem;
  min-width: 250px;
}

.head{
  background-color:  rgb(177, 177, 231);
  height: 2rem;
}

.back-arrow{
 display: inline-block;
}

.back-button-image{
  width: 20px;
}

.back-button-wrapper{
  background-color: #646363;
  cursor: pointer;
  padding: 0 10px;
}


/* About Section */

.about-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: var(--background-color);
}

.about-heading, .author h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.about-heading h1, .author h1 {
  font-size: 1.5em;
  color: var(--secondary-text-color);
}

.author h1 {
  margin-top: 2rem;
}

/* About Content */

.about-content {
  background-color: var(--modal-background);
  box-shadow: 4px 4px 8px rgba(66, 62, 62, 0.774);
  padding: 2rem;
  
}

.about-content ul {
  margin: 10px 0;
  padding-left: 20px;
  list-style-type: disc;
}

.about-content li {
  margin-bottom: 10px;
  color: var(--secondary-text-color)
}

.about-content strong {
  color: var(--secondary-text-color);
  font-weight: bold;
}
.about-content p {
  font-size: 18px;
  line-height: 1.5;
  color: var(--secondary-text-color);
  text-align: center;
}

/* Designer Info */

.designer-info {
  display: flex;
  background-color: var(--modal-background);
  box-shadow: 4px 4px 8px rgba(66, 62, 62, 0.774);
  margin-top: 2rem;
  padding: 1rem;
  align-items: center;
}

.designer-image {
  width: 100%;
  max-width: 250px;
  min-width: 50px;
  height:  auto;;
  overflow: hidden;
}

.designer-image img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
  transition: transform 0.3s ease;
  box-shadow: 4px 4px 8px rgba(30, 30, 31, 0.774);
}

.designer-content {
  flex: 2;
  padding: 0;
}

.designer-content h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
  color:var(--secondary-text-color);
}

.designer-content p {
  font-size: 18px;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
 
}

.designer-content ul {
  margin-left: 3rem;
}

.designer-content ul li {
  color:var(--secondary-text-color);
}

/* Social Links */

.social-links {
  display: flex;
  justify-content:center;
  margin-top: 2rem;
}

.social-links a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color:  rgb(177, 177, 231);;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.social-links a:hover {
  background-color: rgb(134, 119, 219);
}

.social-links i {
  font-size: 17px;
  color: rgb(0, 0, 0);
}

/* Media Queries */

@media (max-width: 400px) {
  .about-content p {
    padding: 1rem;
  }
  .designer-content {
    padding: 1rem;
  }
}

@media (max-width: 750px) {
  .designer-info {
    flex-direction: column;
  }
  .designer-content {
    width: 100%;
  }
  .designer-content h2, .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
