body {
  min-width: 240px;
}

 h1{
  color: rgb(175, 170, 170);
}

.heading {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 3rem;
  margin-top: 1.5rem;
  width: 100%;
}

.back-arrow {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard {
  color: rgb(247, 242, 242);
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
}

.back-button-image {
  width: 100%;
  cursor: pointer;
}

.empty-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
}

.price {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.vehicle-type {
  width: 100%;
  color: white;
  font-size: 16px;
}

.price {
  display: flex;
  justify-content: flex-end;
}

.totalSales {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 10px 0;
}

.total-text, .amount {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.clear-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-sales {
  padding: 10px 30px;
  background-color: rgb(5, 5, 68);
  border: solid 1px white;
  color: white;
  border-radius: 1rem;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 2rem;
}
