h1{
  color: var(--secondary-text-color);
}

.main-body{
  padding-top: 11rem;
  padding-bottom: 6rem;
}

.heading {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 3rem;
  margin-top: 1.5rem;
  width: 100%;
  z-index: 1000;
}

.back-arrow {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard {
  color:var(--secondary-text-color);
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
}

.back-button-image {
  width: 100%;
  cursor: pointer;
  z-index: 1000;
}

.empty-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.price {
  color: var(--secondary-text-color);
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}

.vehicle-type, .receipt-id {
  color: var(--secondary-text-color);
  font-size: 16px;
}

.totalSales {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 10px 0;
}

.total-text, .amount {
  color: var(--secondary-text-color);
  font-size: 20px;
  font-weight: bold;
}

.clear-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-sales {
  padding: 10px 30px;
  background-color: transparent;
  border: solid 1px var(--secondary-text-color);
  color: var(--secondary-text-color);
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 2rem;
  font-weight: bold;
}

.border-top-bottom{
  border-top: 1px solid var(--secondary-text-color);
  border-bottom: 1px solid var(--secondary-text-color);
}

.border-modal{
  border-top: 1px solid var(--secondary-text-color);
}


.fixed-d{
  position: fixed;
  z-index: 10;
  display: block;
  width: 100%;
  background-color: var(--background-fixed-color);
  left: 200px;
  padding-left: 150px;
}

.side-bar{
  display: none;
}

.back-ar{
  display: none;
}


/* Container for the search bar */
.search-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: 400px;
  min-width: 200px;
  width: 30%;
  padding: 0 10px;
  justify-content: center;
}

/* Search input field */
.search-input {
  flex: 1;
  padding: 12px 10px;
  border: none;
  outline: none;
  font-size: 12px;
}

/* Search button */
.search-container .search-button {
  background-color: var(--side-bar-link-background);
  color:var(--secondary-text-color);
  border: none;
  padding: 7px 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  border-radius: 0;
  margin-left: 5px;
}

.search-button:hover {
  background-color: #0056b3;
}

.search-button:active {
  background-color: #004494;
}

/* Icon inside button (optional) */
.search-button i {
  margin-right: 5px;
}


@media (min-width: 1173px) and (max-width:1350px){
.buttons, .buttons-upload {
grid-template-columns: 1fr 1fr 1fr;
padding-left: 350px;
}

}


@media (max-width: 340px) {
.buttons {
grid-template-columns: 1fr 1fr;
padding-top: 3rem;
}

.buttons-upload {
grid-template-columns: 1fr 1fr;

}

}





@media (min-width: 10px) and (max-width: 750px) {

.fixed-d{
  position: fixed;
  z-index: 1000;
  display: block;
  width: 100%;
  background-color: var(--background-fixed-color) ;
  left: 0;
  padding-left: 1rem;
}

body{
  padding: 0 1rem;
}

.heading h1{
  font-size: 17px;
}

.back-ar{
  display: flex;
}

}

@media (min-width: 751px){
  .main-body{
    padding-left: 200px;
  }

  .side-bar{
    display: flex;
  }

  .main-body{
    padding-top: 12rem;
    max-width: 2000px;
  }

  .main-body{
    margin-left: calc(20% - 90px); /* Increase margin-right when width exceeds 800px */
  } 

}

@media (min-width: 752px) and (max-width: 1312px){


  .main-body{
    padding-left: 250px;
  }
}