
 h1{
  color: var(--secondary-text-color);
}



.main-body{
  padding-top: 11rem;
}

.heading {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 3rem;
  margin-top: 1.5rem;
  width: 100%;
  z-index: 1000;
}

.back-arrow {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard {
  color:var(--secondary-text-color);
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
}

.back-button-image {
  width: 100%;
  cursor: pointer;
  z-index: 1000;
}

.empty-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
}

.price {
  color: var(--secondary-text-color);
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}

.vehicle-type {
  color: var(--secondary-text-color);
  font-size: 16px;
}

.totalSales {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 10px 0;
}

.total-text, .amount {
  color: var(--secondary-text-color);
  font-size: 20px;
  font-weight: bold;
}

.clear-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-sales {
  padding: 10px 30px;
  background-color: transparent;
  border: solid 1px var(--secondary-text-color);
  color: var(--secondary-text-color);
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 2rem;
  font-weight: bold;
}

.border-top-bottom{
  border-top: 1px solid var(--secondary-text-color);
  border-bottom: 1px solid var(--secondary-text-color);
}

.border-modal{
  border-top: 1px solid var(--secondary-text-color);
}


.modals {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: bottom 0.6s ease-in-out, opacity 0.6s ease-in-out;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.modals.show {
  bottom: 0;
  opacity: 1;
}

.modal-contents {
  background: var(--modal-background);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-sizing: border-box;
}

.fixed-d{
  position: fixed;
  z-index: 1000;
  display: block;
  width: 100%;
  background-color: var(--background-color);
}

.modal-buttons {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-button {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-button.confirm {
  background-color: #0e0655;
  color: var(--text-color);
}

.modal-button.cancel {
  background-color: #0934c0;
  color: var(--text-color);
}


@media (min-width: 340px) and (max-width: 750px) {

.fixed-d{
  position: fixed;
  z-index: 1000;
  display: block;
  width: 100%;
  background-color: var(--background-fixed-color) ;
  left: 0;
  padding-left: 1rem;
}
}